h1 {
    background-color: antiquewhite;
    width: 50vw;
    display: block;
    margin: auto;
    text-align: center;
    height: 4rem;
    align-content: center;
}

.container {
    width: 95vw;
    margin: auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 4rem;
}

.box {
    height: 60vh;
    gap: 10px;
    background-color: beige;
    border: 2px solid grey;
}

.box3 {
    grid-column: 3/5;
}

.user {
    grid-column: 1/3;
    text-align: center;
    font-size: 2rem;
    font-family: cursive;
}

.computer {
    grid-column: 5/7;
    text-align: center;
    font-size: 2rem;
    font-family: cursive;
}

.refresh {
    grid-column: 3/5;
    text-align: center;
    border: 2px solid pink;
    border-radius: 40px;
    font-size: 2rem;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    background-color: pink;
}

.refresh:hover {
    background-color: rgb(244, 121, 142);
    color: rgb(5, 3, 3);
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 100px;
}

span {
    font-weight: 800;
}

.scissor:hover {
    cursor: pointer;
    border: 4px solid wheat;
    box-sizing: border-box;
}

.paper:hover {
    cursor: pointer;
    border: 4px solid wheat;
    box-sizing: border-box;
}

.stone:hover {
    cursor: pointer;
    border: 4px solid wheat;
    box-sizing: border-box;
}
.go{
    height: 50px; width:100px; background-color: azure;border-radius: 10px;
}
.go:hover{background-color: rgb(137, 224, 224); cursor: pointer;}
.result{font-size: 30px;}
.play-again{height: 50px; width:100px; background-color: azure;border-radius: 10px;}
.play-again:hover{background-color: rgb(137, 224, 224); cursor: pointer;}
@media screen and (max-width:750px) {
   
    img{height:60px;width:60px;}
    .refresh{font-size: 1rem;}
    .user{font-size: 1rem;}
    .computer{font-size: 1rem;}
    h1{height: 8rem;}
    .result{font-size:20px;}
}
@media screen and (max-width:410px) {
    img{height:30px; width: 30px;}
    .go{width:60px;}
    .result{font-size:10px;}
    .play-again{width:60px}
    
}
@media screen and (max-width:300px) {
    .refresh{font-size: 0.5rem;}
    .user{font-size: 0.5rem;}
    .computer{font-size: 0.5rem;}
     img{height:15px; width: 15px;}
    .go{width:40px;}
    .play-again{width: 50px;}
    
}
